<header>
    <div class="top-links">
        <a href="/">Hakkımızda</a>
        <div style="float:right;">
            <a href="/">Size Özel Fırsatlar</a>
            <span>|</span>
            <a href="/">Ürün ve Hizmetler</a>
        </div>
    </div>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">RBG Payment Gateway</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <i class="bi bi-list"></i>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/">Kendim İçin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/isim-icin">İşim İçin</a>
                    </li>
                </ul>

                <a href="/login" class="btn-musteri">Müşteri Ol</a>
                <a href="/login" class="btn-internet">İnternet Bankacılığı</a>

            </div>
        </div>
    </nav>
</header>